body {
    background-color:#c1d2cc;
    color:#fff;
    position: relative;
}

.center {
    text-align: center;
}

.logo {
    width: 200px;
}

.card {
    color: #000;
}

.question {
    margin: 1em;
}

#navbar-listen {
    position: sticky;
    top:0;
    z-index: 1;
}

#graph_holder {
    text-align: center;
}

#small_graph_holder{
    float:right;
}

.btn-primary,.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #86867c;
    border: solid 3px #e5e0ce;
}

.btn-primary:hover {
    background-color: #c9d0c9;
    border: solid 3px #e5e0ce;
}

#encourage {
    padding:.5em;
    margin: .5em;
    background-color: #e5e0ce;
    font-family: 'Indie Flower', cursive;
    font-size:1.5m;
}

.btn-push {
    box-shadow: 5px 10px 2px #555;
}

.btn-push:active {
    margin-top:5px;
    margin-left:5px;
    box-shadow:none;
}

.highlight {
    background-color:#e5e0ce;
}

.nav-item a {
    color: #495057;
}

iframe {
    max-width:100%;
}